{% extends "base.html" %}
{% block content %}

<section>
	<div class="container-fluid" id="main-home">
		<div class="row justify-content-center">
			<h1>Biography Detail</h1>
		</div>

        <div> 
            <div class="card mt-5 w-100 border-primary">
                <div class="card-body">
                  <h4 class="card-title">{{stats.name}}</h4>
                  <h5 class="card-title">{{stats.text_id}}</h5>
                </div>
            </div>
            <div class="card mt-5 w-25 border-primary">
                <div class="card-body">
                  <h4 class="card-title">General Statistics</h4>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th scope="row">Sentences:</th>
                        <td>{{ stats.total_sentences }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Tokens:</th>
                        <td>{{ stats.total_tokens }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Entities:</th>
                        <td>{{ stats.total_entities }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Time Expressions:</th>
                        <td>{{ stats.total_timexp }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

        <div class="card mt-5 w-100 border-primary">
            <div class="card-body">
              <h4 class="card-title">Sentences</h4>
              <br>
              {% for sentence in stats.sentences %}
                <p class="card-text"> {{sentence}} </p>
              {% endfor %}
            </div>
        </div>

        <div class="card mt-5 w-25 border-primary">
            <div class="card-body">
              <h4 class="card-title">Entities</h4>
              <br>

              <table class="table table-striped">
                <h5 class="card-title">Model-Label Matrix</h5>
                {% for row in stats.entity_cats %}
                  {% if loop.index == 1 %}
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        {% for col in row %}
                          <th scope="col">{{ col }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                  {% else %}
                    <tbody>

                      <tr>
                        <th scope="row">{{ loop.index - 1 }}</th>
                        {% for col in row %}
                          <td>{{ col }}</td>
                        {% endfor %}
                      </tr> 
                    </tbody>
                {% endif %}
                {% endfor %}
              </table>
            </div>
        </div>


        <div class="container">
          <div class="row w-100">
            {% for method, method_entities in stats.entities.items() %}

              <div class="card mt-5 w-25 border-primary">
                <div class="card-body">
                  <h4 class="card-title">Entities {{method}}</h4>
                  <br>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Entity</th>
                        <th scope="col">Category</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for (entity, cat) in method_entities %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ entity }}</td>
                            <td>{{ cat }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
		
      {% for title, eval in evaluation["total"].items() %}
        <div class="card mt-5 w-100 border-primary">
          <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            {% for metric, val in eval.items() %}
              <h5 class="card-title"> <b>{{metric}}:</b> {{val}}</h5>
              {% endfor %}
          </div>
      </div>
      {% endfor %}

      <!-- {% for title, eval in evaluation["per_label"].items() %}
        <div class="card mt-5 w-100 border-primary">
          <div class="card-body">
            <div class="card-header"> {{ title }} </div>
            {% for label, lbl_eval in eval.items() %}
            <h4 class="card-title"> {{ label }}</h4>
            {% for metric, val in lbl_eval.items() %}
              <h5 class="card-title"> <b>{{metric}}:</b> {{val}}</h5>
              {% endfor %}
              {% endfor %}
          </div>
      </div>
      {% endfor %} -->

      {% for model_pair, eval_table in evaluation["per_label_tables"].items() %}
      <div class="card mt-5 w-25 border-primary">
        <div class="card-body">
          <div class="card-header"> {{ model_pair }} </div>
          <table class="table table-striped">
            <tr> 
              <th scope="row"> Label </th>
              <th scope="row"> Precision </th>
              <th scope="row"> Recall </th>
              <th scope="row"> F1 </th>
              <th scope="row"> Support </th>
            </tr>

            {% for row in eval_table %}
            <tr>
              <td scope="row"> {{ row[0] }}</td>
              <td scope="row"> {{ row[1] }}</td>
              <td scope="row"> {{ row[2] }}</td>
              <td scope="row"> {{ row[3] }}</td>
              <td scope="row"> {{ row[4] }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endfor %}

      <div>
        {% for method, anno in html_annotated.items() %}
  
        <div class="card mt-5 border-primary">
          <div class="card-header"> {{ method }} </div>
          <div class="card-body">
            <div class="mt-2"> {{ anno | safe }} </div>
          </div>
          </div>
        {% endfor %}
      </div>

	</div>
</section>


{% endblock %}
