{% extends "base.html" %}
{% block content %}

<section>
	<div class="container-fluid" id="main-home">
		<div class="row justify-content-center">
			<h1>Biography Detail</h1>
		</div>

        <div> 
            <div class="card mt-5 w-100 border-primary">
                <div class="card-body">
                  <h4 class="card-title">{{stats.name}}</h4>
                  <h5 class="card-title">{{stats.text_id}}</h5>
                </div>
            </div>
            <div class="card mt-5 w-25 border-primary">
                <div class="card-body">
                  <h4 class="card-title">General Statistics</h4>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th scope="row">Sentences:</th>
                        <td>{{ stats.total_sentences }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Tokens:</th>
                        <td>{{ stats.total_tokens }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Entities:</th>
                        <td>{{ stats.total_entities }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Time Expressions:</th>
                        <td>{{ stats.total_timexp }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

        <div class="card mt-5 w-100 border-primary">
            <div class="card-body">
              <h4 class="card-title">Sentences</h4>
              <br>
              {% for sentence in stats.sentences %}
                <p class="card-text"> {{sentence}} </p>
              {% endfor %}
            </div>
        </div>

        <div class="card mt-5 w-25 border-primary">
            <div class="card-body">
              <h4 class="card-title">Entities</h4>
              <br>

              
              {% for src, ent_list in stats.entity_cats.items() %}
              <h5 class="card-title">Labeler: {{ src }}</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cat, freq in ent_list %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ cat }}</td>
                        <td>{{ freq }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endfor %}
            </div>
        </div>


        <div class="container">
          <div class="row">
            {% for method, method_entities in stats.entities.items() %}

              <div class="card mt-5 w-50 border-primary">
                <div class="card-body">
                  <h4 class="card-title">Entities {{method}}</h4>
                  <br>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Entity</th>
                        <th scope="col">Category</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for (entity, cat) in method_entities %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ entity }}</td>
                            <td>{{ cat }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
		
	</div>
</section>


{% endblock %}
