scikit-learn
flair
flask==2.0.3
flask-paginate==2024.4.12
pandas==1.4.1
matplotlib==3.5.1
networkx==2.7.1
pandas==1.4.1
pymongo==3.12.3
rbo==0.1.3
seaborn==0.11.2
seqeval==1.2.2
spacy==3.5.3
nl-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_lg-3.5.0/nl_core_news_lg-3.5.0-py3-none-any.whl
stanza==1.3.0
tabulate==0.8.9
Werkzeug==2.2.2